@import './_px2rem';
@import './_var';
@import './_menu';
@import './_header';
@import './_layout';

html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	width: 100%;
}
body{
    font-size: $l30;
}

p{
    margin-bottom: .5em;
}

*[v-cloak]{
    opacity: 0;
}

.l-container{
    padding-top: $l40;
}

.c-container{
    padding-left: $l40;
    padding-right: $l40;
}

.v-container{
    padding-top: $l40;
    padding-bottom: $l40;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

img{
    max-width: 100%;
}

.css-img{
    width: 200px;
    height: 150px;
    background: url('../images/raaz_das___thumbnil__teaser.jpg') no-repeat;
}

